/* login.css */

/* Fondo de la página */
body {
    background: url('estudiantes.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: 'Arial', sans-serif;
}

/* Estilo del contenedor principal */
.contenedor {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 0 15px;
    /* Aquí puedes cambiar el color de fondo del contenedor si lo deseas */
    background: rgba(34, 87, 122, 0.5); /* Fondo con color #22577a y opacidad */
}

.main{
	width: 350px;
	height: 500px;
	overflow: hidden;
	border-radius: 10px;
	box-shadow: 5px 20px 50px #4d4d4d;
}

/* Estilo del formulario de inicio de sesión */
.login {
    background-color: #ffffff; /* Fondo blanco para el formulario */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Estilo de los inputs y el botón */
.login input[type="text"],
.login input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 16px;
    color: #333;
}

.login button {
    width: 100%;
    padding: 10px;
    background-color: #38a3a5; /* Botón de color #38a3a5 */
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.login button:hover {
    background-color: #2d8d8a; /* Color más oscuro al pasar el cursor */
}

/* Estilo para el mensaje de error */
.login p {
    color: rgb(0, 0, 0);
    font-size: 14px;
    text-align: center;
    margin-top: 10px;
}
