


/*ESTILOS DE LAS UNIVERSIDADES*/
.barraseparadora{
    border-top: #00adc1 solid 0.25dvh;
    height: 0.01dvh;
    width: 80%;
}
.lista{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5dvh;
    flex-wrap: wrap; 
}
.lista2{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap: 5dvh;
    flex-wrap: wrap; 
}
.informacion{
    grid-area: INF;
}
.informacioncarrera{
    grid-area: INFC;
}
.universidades{
    grid-area: UNI;
}
.universidad{
    width: 45dvh;
    height: max-content;
    background-color: white;
    border-radius: 2dvh;
    box-shadow: 0 0.5dvh 2dvh 0.5dvh rgba(0, 0, 0, 0.2);
    display: flex;
    gap: 0;
    justify-content: center;
    align-items: top;
    flex-wrap: wrap; 
    overflow: hidden;
    position: relative;
}
.universidad .botonuni{
    font-size: 2dvh;
    border: none;
    border-radius: 1.5dvh;
    height: 5dvh;
    width: 18dvh;
    background-color: #e81f76;
    color: white;
    transform: translateY(-2.5dvh);
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    margin-left: 20%;
    margin-right: 20%;
}
.universidad .botonuni:hover{
    transform: translateY(-2.5dvh) scale(1.1);
}
.universidad .imagenesuni{
    width: 100%;
    height: 22dvh;
    background-image: url(../imagenes/otros/coding.jpg);
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
}

.universidad .imageninfo{
    width: 100%;
    height: 20dvh;
    background-color: #00adc1;
    background-size:  15dvh;
    background-repeat: no-repeat;
    background-position: center;
    transition: background-size 0.5s;
}

.universidad .imageninfo:hover{

    background-size:  20dvh;
  
}
.universidad .nombreuni{
    padding-top: 1dvh;
    font-size: 3dvh;
    width: 100%;
    height: max-content;
    padding-left: 2dvh;
    padding-right: 2dvh;
    text-align: center;
    color: #00adc1;
}
.universidad .nombreuni2{
    padding-top: 1dvh;
    padding-bottom: 1dvh;

    font-size: 3dvh;
    width: 100%;
    height: max-content;
    padding-left: 2dvh;
    padding-right: 2dvh;
    color: white;
    background-color: #00adc1;;
    text-align: center;
    transform: translateY(-3dvh);
}
.universidad .barrauni{

    border-top: #00adc1 solid 0.25dvh;
    height: 0.01dvh;
    width: 40dvh;
    transform: translateY(2dvh);

}
.universidad .barrauni2{
    transform: translateY(-2.5dvh);
    border-top: #00adc1 solid 0.25dvh;
    height: 0.01dvh;
    width: 40dvh;

}
.universidad .descripcionuni{
    width: 100%;
    height: max-content;
    overflow-y: auto;
    padding-right: 2dvh;
    padding-left: 2dvh;
    text-align: start;
    transform: translateY(-3dvh);
}


/*ESTILOS DE LOS BOTONES DE COLORES*/
.boton {
    margin-top: 8dvh;
    width: 25dvh;
    height: 30dvh;
    border: none;
    background-color: transparent;
    border-radius: 50dvh;
    display: grid;
    grid-template-areas: 
        ". BIMG ."
        "TEXTB TEXTB TEXTB";
    grid-template-rows: 22dvh auto;
    grid-template-columns: auto 22dvh auto;
    transition: transform 0.5s;
    justify-items: center; 
    align-items: center;
}

.boton h1{
    font-size: 2.5dvh;
    text-align: center;   
    grid-area: TEXTB;
}

.boton .imagenboton{
    box-shadow: 0 1dvh 2dvh 0.5dvh rgba(0, 0, 0, 0.2);
    background-color: #00adc1; 
    width: 100%;
    height: 100%;
    grid-area: BIMG;
    background-size: 16dvh; 
    border-radius: 50dvh;
    background-repeat: no-repeat;
    background-position: center;
}
.botones{
    grid-area: BOT;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8%;
    flex-wrap: wrap;
}
.botones :nth-child(1) :nth-child(2){
    color: #e81f76;
}
.botones :nth-child(2) :nth-child(2){
    color: #78568e;
}
.botones :nth-child(3) :nth-child(2){
    color: #37799f;
}
.botones :nth-child(4) :nth-child(2){
    color: #00adc1;
}


.botones :nth-child(1) :nth-child(1){
    background-color: #e81f76;
}
.botones :nth-child(2) :nth-child(1){
    background-color: #78568e;
}
.botones :nth-child(3) :nth-child(1){
    background-color: #37799f;
}
.botones :nth-child(4) :nth-child(1){
    background-color: #00adc1;
}


/*ESTILOS EL FOOTER*/
.footer{
    grid-area: FOO;
    background: linear-gradient(to top, #eaeaea 65%, transparent);
        display: grid;
        grid-template: 
        ". ."
        "LOG ."
        "LOG ."
        "REDE TEXT"
        ". .";
        grid-template-rows: 18dvh auto auto max-content 8dvh;
        grid-template-columns: 20% auto;
        position: relative;
}
.footer .imagenfooter{
    background-image: url(../imagenes/otros/imagen_footer2.png);
    background-repeat: repeat-x;
    background-size: 200dvh;
    background-position: top;
    height: 40dvh;
    width: 100%;
    position: absolute;
    top: 0;
    animation: footer 30s linear infinite;
}

.footer .logo_pba_vertical2{
    grid-area: LOG;
    background-image: url(../imagenes/otros/logo-pba-desktop.png);
    background-size:  contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 10;

}
.footer .textofooter{
    grid-area: TEXT;
    display: flex;
    gap: 1dvh;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    z-index: 10;
}
.textofooter h1{
 
    text-align: center;
    color: #e81f76;
}
.footer .redesociales{
    grid-area: REDE;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 2%;
    flex-wrap: wrap;
}

.universidad .redesociales{
    background-color: white;
   width: 100%;
   height: max-content;
    display: flex;
    justify-content: center;
    align-items:center;
    gap: 2%;
    flex-wrap: wrap;
    transform: translateY(-2.5dvh);
}
.universidad .redesociales .redsocial{
    width: 6dvh;
    height: 6dvh;
    border-radius: 50dvh;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1dvh 1dvh rgba(0, 0, 0, 0.2);
    background-color: white;
}
.universidad .redesociales .redsocial2{
    width: 6dvh;
    height: 6dvh;
    border-radius: 50dvh;
    overflow: hidden;
    background-size: 5dvh;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1dvh 1dvh rgba(0, 0, 0, 0.2);
    background-color: #e81f76;
    font-size: 2dvh;
    transition: width 0.5s;
    color: transparent;
    text-align: center;
    display: flex;
    justify-content: center;
    overflow: hidden;
    align-items: center;
}
.universidad .redesociales .redsocial2:hover{
    width: 20dvh;
    font-size: 2dvh;
    background-size: 0dvh;
    color: white;
}
.footer .redesociales .redsocial{
    width: 3dvh;
    height: 3dvh;
    border-radius: 25dvh;
    overflow: hidden;
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 1dvh 1dvh rgba(0, 0, 0, 0.2);
    background-color: white;
    display: none;

}
#header{
    transition: opacity 0.2s ease-in-out;
}
.hidden {
    opacity: 0%;
    pointer-events: none;
}
.visible {
    opacity: 100%;
}
.circulopregunta{
    width: 5dvh;
    height: 5dvh;
    background-color: #00adc1;
    border-radius: 50dvh;
    background-size:  cover;
    background-repeat: no-repeat;
    background-position: center;
   pointer-events: none;
    position: absolute;
    right: 0%;
    top: 0.5dvh;
}
#info{
    width: 60%;
}
/*ESTILOS PARA LA VERSION DE MOBILES*/
@media (max-width: 768px) {
    .universidad .botonuni{
        font-size: 2dvh;
        border: none;
        border-radius: 1.5dvh;
        height: 5dvh;
        width: 18dvh;
        background-color: #e81f76;
        color: white;
        transform: translateY(-2.5dvh);
        display: flex;
        text-align: center;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        margin-top: 3dvh;
        margin-left: 20%;
        margin-right: 20%;
    }
    .universidad input, .universidad textarea{
        border: none;
        border-radius: 1.5dvh;
        height: 5dvh;
        color: gray;
        width: 35dvh;
        padding-left: 1dvh;
        box-shadow: 0 0.5dvh 1dvh rgba(0, 0, 0, 0.2);
        margin-bottom: 2dvh;
        border: rgba(128, 128, 128, 0.438) solid 0.1dvh;
        margin-left: 20%;
        margin-right: 20%;
     }
    #info{
        width: auto;
    }
    .barradebusqueda .imglupa{
        display: none;
    }
    .footer .imagenfooter{
        animation: footer 180s linear infinite;
    }
    .filtro{
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background: linear-gradient(to top, black, transparent);
        display: grid;
        grid-template-areas: 
        ". . ."
        ". TEXT1 ."
        ". TEXT2 ."
        "CIR CIR CIR"
        ;
        gap: 1dvh;
        grid-template-rows: 1fr max-content max-content 20dvh;
        grid-template-columns: 2dvh auto 2dvh;
    }
    .filtro .texto1,.texto2{
        font-size: 3dvh;
        text-align: center;
    }
    .logo_pba_vertical{
        height: 12dvh;
        width: 100%;
        background-color: white;
        background-image: url(../imagenes/otros/logo-pba-mobile.png);
        background-size:  contain;
        background-repeat: no-repeat;
        background-position: center;
        position: absolute;
        border-radius: 0%;
        bottom: 0dvh;
        top: 5dvh;
        left: 0;
        box-shadow: -2dvh 2dvh 2dvh rgba(0, 0, 0, 0.2);
    }
    .universidad{
        width: 100%;
        height: max-content;
        background-color: white;
        border-radius: 0;
        box-shadow: 0 0.5dvh 2dvh 0.5dvh rgba(0, 0, 0, 0.2);
    }
    .circulo{
        width: 2dvh;
        height: 2dvh;
    }
    .boton {
        margin-top: 10dvh;
        width: 20dvh;
        height: 30dvh;
        border: none;
        background-color: transparent;
        border-radius: 50dvh;
        display: grid;
        grid-template-areas: 
            ". BIMG ."
            "TEXTB TEXTB TEXTB";
        grid-template-rows: 20dvh auto;
        grid-template-columns: auto 20dvh auto;
        justify-items: center; /* Centra los elementos horizontalmente */
        align-items: center;
    }
    .imagenboton{
        background-size: 14dvh;
    }
    .footer{
        grid-area: FOO;
        background: linear-gradient(to top, #eaeaea 65%, transparent);
        display: grid;
        grid-template: 
        "."
        "LOG"
        "REDE"
        "TEXT"
        ".";
        grid-template-rows: 25dvh auto max-content max-content 2dvh;
        grid-template-columns: auto;
        position: relative;
        gap: 2dvh;
    }
    .textofooter ul, .textofooter p{
        width: 20dvh;
    }
    .header{
        grid-area: HEA;
        position: sticky;
        top: 0;
        background-color: white; 
        z-index: 1000;
        padding: 0.5dvh;
        box-shadow: 0 1dvh 2dvh rgba(0, 0, 0, 0.2);
        display: grid;
        grid-template-areas: 
        "LOG . BTN"
        ;
        grid-template-rows: auto;
        grid-template-columns: 30dvh auto 15dvh;
        padding-right: 1dvh;
    }
    [popover] :nth-child(2) {
        width: 80vw;
        height: 60dvh;
      }
      [popover]::backdrop{
        backdrop-filter: blur(1dvh);
        background-color: rgba(0, 0, 0, 0.8);
        background-image: url(../imagenes/otros/logo-pba-mobile.png);
        background-position: top;
        background-size: 50dvh;
        background-repeat: no-repeat;
    }
      
}

/*CONFETTI*/
.confetti-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    z-index: 1000;
  }
  
  .confetti {
    width: 10px;
    height: 20px;
    background-color: red;
    position: absolute;
    opacity: 0;
    animation: confettiFall linear infinite;

  }
  
  @keyframes confettiFall {
    0% {
      opacity: 100%;
      transform: translateY(0) rotate(0deg);
    }
    100% {
      opacity: 0%;
      transform: translateY(100dvh) rotate(360deg);
    }
  }
  @keyframes footer {
    0%{
        background-position-x: -100dvh;
    }
    100%{
        background-position-x: 100dvh;
    }
}