/* Map Styles */
#mapa {
    position: relative;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

#imagenmapa {
    width: 100%;
    max-width: 800px
}

.puntero img, .puntero2 img, .puntero3 img, .puntero4 img, .puntero5 img, .puntero6 img, 
.puntero7 img, .puntero8 img, .puntero9 img, .puntero10 img, .puntero11 img, 
.puntero12 img, .puntero13 img, .puntero14 img {
    position: absolute;
    width: 3%;
}

/* Positioning Styles */
.puntero img {
    top: 150px; left: 35%;
}
.puntero2 img {
    top: 350px; left: 51%;
}
.puntero3 img {
    top: 240px; left: 47%;
}
.puntero4 img {
    top: 18%; left: 56%;
}
/* Additional pointers positioned based on the map layout */
.puntero5 img {
    top: 53%; left: 76%;
}
.puntero6 img {
    top: 50%; left: 73%;
}
.puntero7 img {
    top: 45%; left: 80%;
}
.puntero8 img {
    top: 48%; left: 78%;
}
.puntero9 img {
    top: 48%; left: 82%;
}
.puntero10 img {
    top: 40%; left: 78%;
}
.puntero11 img {
    top: 46%; left: 71%;
}
.puntero12 img {
    top: 40%; left: 72%;
}
.puntero13 img {
    top: 40%; left: 65%;
}
.puntero14 img {
    top: 32%; left: 74%;
}


/* Media Queries for Different Screen Sizes */
@media (max-width: 1024px) {
    .puntero img, .puntero2 img, .puntero3 img, .puntero4 img, .puntero5 img, .puntero6 img, 
    .puntero7 img, .puntero8 img, .puntero9 img, .puntero10 img, .puntero11 img, 
    .puntero12 img, .puntero13 img, .puntero14 img {
        width: 4%;
    }

}

@media (max-width: 768px) {
    .puntero img, .puntero2 img, .puntero3 img, .puntero4 img, .puntero5 img, .puntero6 img, 
    .puntero7 img, .puntero8 img, .puntero9 img, .puntero10 img, .puntero11 img, 
    .puntero12 img, .puntero13 img, .puntero14 img {
        width: 5%;
    }
}

@media (max-width: 480px) {
    .puntero img, .puntero2 img, .puntero3 img, .puntero4 img, .puntero5 img, .puntero6 img, 
    .puntero7 img, .puntero8 img, .puntero9 img, .puntero10 img, .puntero11 img, 
    .puntero12 img, .puntero13 img, .puntero14 img {
        width: 6%;
    }
}